
@model IEnumerable<OrderApplication.Entities.Category>

    <div class="container">
        <div class="row">
            <div class=col-6>
                <h2>Kategori Listesi</h2>
            </div>
            <div class=col-6>
                <a asp-conroller="CategoryController" asp-action="Create" class="btn btn-primary">
                <span>Yeni Kategori Ekle</span>
            </a>
            </div>
        </div>
        <div class="row">          
            <table class="table table-bordered table-striped my-2">
                <thead>
                    <tr>
                        <th>
                            Kategori Adı
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var category in Model)
                   {
                        <tr>
                        <td>@category.Name</td>
                        <td>
                            <a asp-controller="Category" asp-action="Edit" asp-route-id="@category.Id" class="btn btn-primary">Güncelle</a>                            
                            <a asp-controller="Category" asp-action="Delete" asp-route-id="@category.Id" class="btn btn-danger"
                            onclick="return confirm(' @category.Name Kategorisini Silmek İstediğinize Emin Misiniz ?')">Sil</a>                            
                        </td>
                    </tr>
                   }                    
                </tbody>
            </table
        </div>
    </div>